/* ------ General ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #acacac;
}

.highlighted {
  color: #00fff0;
}

// section {
//   padding: 0px 10px;
//   height: 100vh;
// }

// section:not(#top) {
//   padding-top: 75px;
// }

/* ------ Navbar ------ */

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  position: fixed;
  height: 65px;
  top: -65px;
  width: 100%;
  transition: top 0.3s;
  z-index: 100;
}

.navbar__text {
  display: none;
  align-items: center;
  font-size: 22px;
  height: 75px;
}
.navbar__icon {
  display: flex;
  height: 75px;
  width: 75px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.navbar a {
  float: left;
  display: block;
  color: #acacac;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navbar a:hover {
  color: #00fff0;
}

.sidebarNav {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #333;
  transform: translateX(100%);
  transition: transform 0.6s;
}

.sidebarNav__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  background: none;
  border: none;
  color: #00fff0;
}

.sidebarNav__links {
  padding: 10px 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.menu-link {
  font-size: 40px;
  padding: 15px 15px;
}

.menu-link a {
  text-decoration: none;
  color: #acacac;
}

// /* ------ Top ------ */

.top {
  background-image: url("../images/background-top.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
}

// .topSection {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
// }

.topSection {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  height: 100%;
  width: 100%;
}

.header-h1 {
  margin: 10px 0px;
  font-size: 40px;
}

.subHeader-h2 {
  font-size: 30px;
}

/* ------ About ------ */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
  padding: 0px 10px;
  height: 100vh;
}

.about__header {
  padding: 0px 10px;
  transform: translateY(10px);
  background-color: #000;
}

.aboutContent {
  padding: 15px 15px;
  text-align: center;
  border: 1px solid #acacac;
  font-size: 20px;
  max-width: 500px;
}

/* ------ Projects ------ */

.projects {
  background-image: url("../images/aurora.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
}

// .project {
//   display: flex;
//   max-width: 350px;
//   min-height: 232px;
//   margin: 10px 10px;
//   padding: 10px 10px;
//   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
//   border-radius: 10px;
//   overflow: hidden;
//   text-align: center;
// }

.projectSection {
  padding-top: 65px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

// .projectSection__innerContainer {
//   max-width: 700px;
//   margin-left: auto;
//   margin-right: auto;
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
// }

// #my4dx {
//   background-image: url("../images/4dx.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: scroll;
// }

// #foodOrganizer {
//   background-image: url("../images/food.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: scroll;
// }

// #shareTasks {
//   background-image: url("../images/tasks.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: scroll;
// }

// #portfolio {
//   background-image: url("../images/portfolio.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: scroll;
// }

// .project__content {
//   border: 1px solid #acacac;
//   background-color: rgba(0, 0, 0, 0.3);
// }

/* ------ Skills ------ */

#skills {
  height: 100vh;
}

/* ------ Contact ------ */

#contact {
  background-image: url("../images/lake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
}

.contactSection {
  padding-top: 65px;
  height: 100%;
  width: 100%;
}

/* ------ Media Queries ------ */

@media screen and (min-width: 720px) {
  .navbar__text {
    display: flex;
  }
  .navbar__icon {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  #top {
    background-attachment: fixed;
  }
  #projects {
    background-attachment: fixed;
  }
  #contact {
    background-attachment: fixed;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  // margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #acacac;
  border-radius: 5px;
  padding: 20px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #00fff0;
  font-size: 20px;
  padding: 10px 12px;
  width: 100%;
  text-align: center;
}

.project__content {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.project__text {
  padding: 10px 13px;
  font-size: 20px;
  text-align: center;
}

.project__links {
  font-size: 37px;
  text-align: center;
}

.project__links a {
  font-size: 37px;
  text-align: center;
  color: #acacac;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display: none;
}

/* The dots/bullets/indicators */

.dotBox {
  margin: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
