/* ------ General ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #acacac;
}

.highlighted {
  color: #00fff0;
}

section {
  padding: 0px 10px;
  height: 100vh;
}

section:not(#top) {
  padding-top: 75px;
}

/* ------ Navbar ------ */

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  position: fixed;
  height: 75px;
  top: -75px;
  width: 100%;
  transition: top 0.3s;
  z-index: 100;
}

.navbar__text {
  display: none;
  align-items: center;
  font-size: 22px;
  height: 75px;
}
.navbar__icon {
  display: flex;
  height: 75px;
  width: 75px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.navbar a {
  float: left;
  display: block;
  color: #acacac;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navbar a:hover {
  color: #00fff0;
}

/* ------ Top ------ */

#top {
  display: flex;
  align-items: center;
  background-image: url("../images/background-top.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.header-h1 {
  margin: 10px 0px;
  font-size: 40px;
}

.subHeader-h2 {
  font-size: 30px;
}

/* ------ About ------ */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__header {
  padding: 0px 10px;
  transform: translateY(10px);
  background-color: #000;
}

.aboutContent {
  padding: 15px 15px;
  text-align: center;
  border: 1px solid #acacac;
  font-size: 20px;
  max-width: 500px;
}

/* ------ Projects ------ */

#projects {
  background-image: url("../images/aurora.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

/* ------ Contact ------ */

#contact {
  background-image: url("../images/lake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

/* ------ Media Queries ------ */

@media screen and (min-width: 990px) {
  #top {
    background-attachment: fixed;
  }
  #projects {
    background-attachment: fixed;
  }
  #contact {
    background-attachment: fixed;
  }
  .navbar__text {
    display: flex;
  }
  .navbar__icon {
    display: none;
  }
}
