/* ------ General ------ */

$primaryBgColor: #e40000;
$secondaryBgColor: #333;
$thirdBgColor: #e6e6e6;
$primaryTextColor: #333;
$secondaryTextColor: #fff;
$thirdTextColor: #e40000;
$fontFamily: "Open Sans";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
}

button {
  cursor: pointer;
}

/* ------ Navbar ------ */

.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: rgba(228, 0, 0, 0);
  z-index: 100;
}

.navbar__header {
  font-size: 24px;
  font-weight: 600;
  color: $secondaryTextColor;
  text-shadow: 1px 1px 1px $primaryTextColor;
}

.navbar__links {
  display: none;

  & li {
    padding: 0px 10px;
    list-style-type: none;

    & a {
      text-decoration: none;
      color: $secondaryTextColor;
      font-weight: 700;
      text-shadow: 1px 1px 1px $primaryTextColor;
    }
  }
}

.navbar__icon {
  display: flex;
  height: 100%;
  width: 60px;
  justify-content: flex-end;
  align-items: center;
  font-size: 28px;
  color: $secondaryTextColor;
  text-shadow: 1px 1px 1px $primaryTextColor;

  & i:hover {
    cursor: pointer;
  }
}

.navbar__mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primaryTextColor;
  transform: translateX(100%);
  transition: transform 0.5s;
}

.navbar__mobile--close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  text-shadow: 1px 1px 1px $primaryTextColor;

  &:hover {
    color: $thirdTextColor;
    transition: color 0.3s;
  }
}

.navbar__mobile--links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 28px;
  text-align: center;

  & li a {
    text-decoration: none;
    color: $secondaryTextColor;
    font-weight: 700;

    &:hover {
      color: $thirdTextColor;
    }
  }
}

/* ------ Home ------ */

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("../images/top-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  margin: 0px 10px;
  color: $secondaryTextColor;
}

.highlighted {
  color: $thirdTextColor;
  font-weight: 700;
}

.header__text {
  margin: 5px 0px;
  font-size: 23px;
}

.header__h1 {
  margin: 5px 0px;
  font-size: 42px;
}

.header__h2 {
  margin: 5px 0px;
  font-size: 30px;
}

.header__button {
  margin: 18px 0px;
  width: 117px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: $primaryBgColor;
  font-size: 17px;
  color: $secondaryTextColor;
  text-shadow: 1px 1px 1px $primaryTextColor;

  &:hover {
    background-color: transparent;
    border: 2px solid $thirdTextColor;
    color: $thirdTextColor;
    transition: background-color 0.3s, color 0.3s;
  }
}

/* ------ About ------ */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-evenly;
  padding: 60px 0px;
}

.about-header {
  margin: 30px 0px 20px 0px;
  width: 200px;
  padding: 10px 0px;
  font-weight: 700;
  text-align: center;
  color: $primaryTextColor;
}

.about__contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  max-width: 1000px;
}

.about__contentContainer--image {
  margin: 30px 15px;
  min-width: 300px;
  max-width: 400px;
  height: 300px;
  background-image: url("../images/me.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.about__contentContainer--text {
  flex: 1;
  margin: 30px 15px;
  max-width: 650px;
  min-width: 300px;

  & h3 {
    margin-bottom: 12px;
  }
}

/* ------ Projects ------ */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $thirdBgColor;
  min-height: 100vh;
  justify-content: space-evenly;
  padding: 60px 0px;
}

.projects-header {
  margin: 30px 0px 20px 0px;
  width: 200px;
  padding: 10px 0px;
  font-weight: 700;
  text-align: center;
  color: $primaryTextColor;
}

.projects__contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects__text {
  padding: 15px 15px;
  text-align: center;
  max-width: 450px;

  & button {
    margin: 18px 0px;
    width: 117px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: $primaryBgColor;
    font-size: 17px;
    color: $secondaryTextColor;
    text-shadow: 1px 1px 1px $primaryTextColor;

    &:hover {
      background: none;
      border: 2px solid $thirdTextColor;
      color: $thirdTextColor;
      transition: background-color 0.3s, color 0.3s;
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  margin: 15px 15px;
  padding: 15px 15px;
  background-color: gray;
  color: $secondaryTextColor;
  font-weight: 700;
  border-radius: 4px;
}

.project__header {
  margin: 5px 0px;
}

.project__text {
  margin: 5px 0px;
  text-align: center;
}

.project__header {
  margin: 5px 0px;
}

.project__links {
  margin: 5px 0px;
  display: flex;
}

.link__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;

  & a {
    padding: 5px 5px;
    color: $secondaryTextColor;
    font-size: 25px;
  }

  & span {
    padding: 0px 5px;
  }
}

/* ------ Career ------ */

.career {
  min-height: 100vh;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.career-header {
  margin: 30px 0px 20px 0px;
  width: 200px;
  padding: 10px 0px;
  font-weight: 700;
  text-align: center;
  color: $primaryTextColor;
}

.career-step {
  margin: 40px 15px;
  max-width: 720px;
}

.career-step__year {
  color: $thirdTextColor;
}

.career-step__text {
  margin: 15px 0px;
}

/* ------ Skills ------ */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  padding: 60px 0px;
  background-color: $thirdBgColor;
}

.skills-header {
  margin: 30px 0px 20px 0px;
  width: 200px;
  padding: 10px 0px;
  font-weight: 700;
  text-align: center;
  color: $primaryTextColor;
}

.skill-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 700px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 15px;
  width: 130px;
}

.skill__image {
  width: 100px;
  height: 100px;
  margin: 5px 5px;
}

.skill__name {
  margin: 5px 0px;
}

#html {
  background-image: url("../images/html.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#css {
  background-image: url("../images/css.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#js {
  background-image: url("../images/js.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#react {
  background-image: url("../images/react.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#node {
  background-image: url("../images/node.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#express {
  background-image: url("../images/express.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#typescript {
  background-image: url("../images/typescript.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#graphql {
  background-image: url("../images/graphql.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#mongodb {
  background-image: url("../images/mongodb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#postgresql {
  background-image: url("../images/postgresql.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#firebase {
  background-image: url("../images/firebase.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#sass {
  background-image: url("../images/sass.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ------ Contact ------ */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 60px);
  padding: 60px 0px;
}

.contact__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.contact__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  margin: 30px 0px 20px 0px;
  width: 200px;
  padding: 10px 0px;
  font-weight: 700;
  text-align: center;
  color: $primaryTextColor;
}

.contact__text {
  text-align: center;
  font-size: 19px;
}

.contact__button {
  margin: 18px 0px;
  width: 170px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: $primaryBgColor;
  font-size: 17px;
  color: $secondaryTextColor;
  text-shadow: 1px 1px 1px $primaryTextColor;

  &:hover {
    background: none;
    border: 2px solid $thirdTextColor;
    color: $thirdTextColor;
    transition: background-color 0.3s, color 0.3s;
  }
}

.contact__links {
  font-size: 40px;
  color: $primaryTextColor;

  & a {
    padding: 10px 10px;
    color: $primaryTextColor;
  }
}

/* ------ Footer ------ */

.footer {
  width: 100%;
  height: 60px;
  background-color: $primaryBgColor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 1px $primaryTextColor;
}

/* ------ Animations ------ */

hr {
  width: 200px;
  border: 3px solid $primaryBgColor;
  border-radius: 10px;
  margin: 12px auto;
  transition: width 0.5s;
}

.show {
  transition: opacity 0.5s, transform 0.5s;
}

/* ------ Media Queries ------ */

@media screen and (min-width: 720px) {
  .navbar__links {
    display: flex;
  }

  .navbar__icon {
    display: none;
  }

  .home {
    background-attachment: fixed;
  }

  .header {
    margin: 0px 40px;
  }

  .projects__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 740px;
  }

  .project {
    max-width: 300px;
  }
}

@media screen and (min-width: 1020px) {
  .projects__text {
    max-width: 350px;
  }
}
